<div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-2280px, 0px, 0px); transition: all 1.2s ease 0s; width: 5700px;"><div class="owl-item cloned" style="width: 540px; margin-right: 30px;"><div class="testimonial-item">
    <div class="testi-img">
        <img src="static/assets/images/testimonial/12.webp" alt="Akshay Sonar">
    </div>
    <div class="testi-desc">
        <h4 class="testi-name"></h4>
        <div class="cl-client-rating">
            <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i>
        </div>
        <p>
            
        </p>
    </div>
</div></div><div class="owl-item cloned" style="width: 540px; margin-right: 30px;"><div class="testimonial-item">
    <div class="testi-img">
        <img src="static/assets/images/testimonial/13.webp" alt="Hrishab Biswas">
    </div>
    <div class="testi-desc">
        <h4 class="testi-name"></h4>
        <div class="cl-client-rating">
            <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i>
        </div>
        <p>
           
        </p>
    </div>
</div></div><div class="owl-item" style="width: 540px; margin-right: 30px;"><div class="testimonial-item">
    <div class="testi-img">
        <img src="static/assets/images/testimonial/8.webp" alt="Mahi Rai">
    </div>
    <div class="testi-desc">
        <h4 class="testi-name"></h4>
        <div class="cl-client-rating">
            <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i>
        </div>
        <p>
        </p>
    </div>
</div></div><div class="owl-item" style="width: 540px; margin-right: 30px;"><div class="testimonial-item">
    <div class="testi-img">
        <img src="static/assets/images/testimonial/9.webp" alt="Nathan D'mello">
    </div>
    <div class="testi-desc">
        <h4 class="testi-name"></h4>
        <div class="cl-client-rating">
            <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star-o" aria-hidden="true"></i>
        </div>
        <p>
        </p>
    </div>
</div></div><div class="owl-item active" style="width: 540px; margin-right: 30px;"><div class="testimonial-item">
    <div class="testi-img">
        <img src="static/assets/images/testimonial/10.webp" alt="Sarvesh Utekar">
    </div>
    <div class="testi-desc">
        <h4 class="testi-name"></h4>
        <div class="cl-client-rating">
            <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i>
        </div>
        <p></p>
    </div>
</div></div><div class="owl-item active" style="width: 540px; margin-right: 30px;"><div class="testimonial-item">
    <div class="testi-img">
        <img src="static/assets/images/testimonial/11.webp" alt="Shubham Borse">
    </div>
    <div class="testi-desc">
        <h4 class="testi-name"></h4>
        <div class="cl-client-rating">
            <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star-o" aria-hidden="true"></i>
        </div>
        <p>
            
        </p>
    </div>
</div></div><div class="owl-item" style="width: 540px; margin-right: 30px;"><div class="testimonial-item">
    <div class="testi-img">
        <img src="static/assets/images/testimonial/12.webp" alt="Akshay Sonar">
    </div>
    <div class="testi-desc">
        <h4 class="testi-name">Akshay Sonar</h4>
        <div class="cl-client-rating">
            <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i>
        </div>
        <p>
            The best part about my educational journey at BSE Institute Ltd. is that they offer students not just theory, but also clear examples of the practical application of the latest technologies.
        </p>
    </div>
</div></div><div class="owl-item" style="width: 540px; margin-right: 30px;"><div class="testimonial-item">
    <div class="testi-img">
        <img src="static/assets/images/testimonial/13.webp" alt="Hrishab Biswas">
    </div>
    <div class="testi-desc">
        <h4 class="testi-name">Hrishab Biswas</h4>
        <div class="cl-client-rating">
            <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i>
        </div>
        <p>
            BIL gave me the exposure due to which I have established my leadership, time management and team skills and have also been able to advance these skills to the whole new augment level.
        </p>
    </div>
</div></div><div class="owl-item cloned" style="width: 540px; margin-right: 30px;"><div class="testimonial-item">
    <div class="testi-img">
        <img src="static/assets/images/testimonial/8.webp" alt="Mahi Rai">
    </div>
    <div class="testi-desc">
        <h4 class="testi-name">Mahi Rai</h4>
        <div class="cl-client-rating">
            <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i>
        </div>
        <p>The faculties were very supportive throughout our training till the placement process, It was a great learning experience working there and after 1 year I got placed in a company named Bank of America.
        </p>
    </div>
</div></div><div class="owl-item cloned" style="width: 540px; margin-right: 30px;"><div class="testimonial-item">
    <div class="testi-img">
        <img src="static/assets/images/testimonial/9.webp" alt="Nathan D'mello">
    </div>
    <div class="testi-desc">
        <h4 class="testi-name">Nathan D'mello</h4>
        <div class="cl-client-rating">
            <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star-o" aria-hidden="true"></i>
        </div>
        <p>The trained coordinators and other members always pushed me for extracurricular activities. BSE team always made sure to know who has what skills and skill-set and how to develop them.
        </p>
    </div>
</div></div></div></div>