<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*." verb="*" modules="FastCgiModule" scriptProcessor="D:\home\site\wwwroot\venv\Scripts\python.exe|D:\home\site\wwwroot\app.py" resourceType="Unspecified" />
    </handlers>
  </system.webServer>
</configuration>
