<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="timeline">
        <div class="timeline-content">
            <span class="year">2020</span>
            <div class="inner-content">
                <h3 class="title">Unique skill program completed to help students transit from school to workplace successfully</h3>
                <p class="description">BSE Institute successfully trained school children under the ‘school to workplace’ transition project.</p>
            </div>
        </div>
    </div>
    <div class="timeline">
        <div class="timeline-content">
            <span class="year">2020</span>
            <div class="inner-content">
                <h3 class="title">First Bachelors in Capital Markets Batch graduated</h3>
                <p class="description">
                    BSE Institute launched the first Bachelors in Capital Markets batch—a first of its kind undergraduate program focused in Capital Markets.
                </p>
            </div>
        </div>
    </div>
    <div class="timeline">
        <div class="timeline-content">
            <span class="year">2020</span>
            <div class="inner-content">
                <h3 class="title">Skill Development Initiatives Launched in J&K</h3>
                <p class="description">
                    Conducted specialized skill enhancement programs for the youths and students of Jammu and Kashmir.
                </p>
            </div>
        </div>
    </div>
    <div class="timeline">
        <div class="timeline-content">
            <span class="year">2019</span>
            <div class="inner-content">
                <h3 class="title">Country’s Largest One-Time Skill Development Program for the Investment Banking Industry Completed</h3>
                <p class="description">
                    Created a supply chain of trained young graduates for the high tech Investment Banking Industry.
                </p>
            </div>
        </div>
    </div>

    
    
</body>
</html>