<head>

</head>

<!--Full width header Start-->
<div class="full-width-header home8-style4 main-home">
  <!--Header Start-->
  <header id="rs-header" class="rs-header">
      <!-- Menu Start -->
      <div class="menu-area menu-sticky">
          <div class="container">
              <div class="row y-middle">
                  <div class="col-lg-2">
                      <div class="logo-cat-wrap">
                          <div class="logo-part">
                              <a href="{{ url_for('index') }}">
                                  <img class="normal-logo" src="static/assets/images/logo-light.png" alt="">
                                  <img class="sticky-logo" src="/static/assets/images/dark-logo-n.png" alt="">
                              </a>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-7 text-right">
                      <div class="rs-menu-area">
                          <div class="main-menu">
                              <div class="mobile-menu">
                                  <a class="rs-menu-toggle">
                                      <i class="fa fa-bars"></i>
                                  </a>
                              </div>
                              <div id="header"></div>                                      
                          </div> <!-- //.main-menu -->
                      </div>
                  </div>
                  <div class="col-lg-3 text-right">
                      <div class="expand-btn-inner">
                          <ul>
                              <li>
                                  <a class="hidden-xs rs-search" data-target=".search-modal" data-toggle="modal" href="#">
                                      <i class="flaticon-search"></i>
                                  </a>
                              </li>

                              <li class="user-icon last-icon dropdown">
                                  <!-- <a><i class="fa fa-user dropbtn" data-bs-toggle="dropdown" aria-expanded="false" aria-hidden="true"></i> 
                                      <span style="color: ghostwhite;"> &nbsp;{% if session.get('username') %}{{ session.get('username') }}!{% endif %}</span></a> -->
                                  <div class="dropdown-content">
                                      {% if session.get('username') %}
                                          <a href="{{ url_for('my_courses') }}">My Courses</a>
                                          <a href="{{ url_for('logout') }}">Logout</a>
                                      {% else %}
                                          <!-- Login and Register buttons -->
                                          <div class="login-signup-buttons">
                                              <button class="login-button"><a href="{{ url_for('login') }}" style="color:white; text-decoration:none; border-radius: 10px !important;">Login</a></button>
                                              <button class="signup-button"><a href="{{ url_for('register') }}" style="color:white; text-decoration:none;">Register</a></button>
                                          </div>
                                      {% endif %}
                                  </div>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- Menu End --> 
  </header>
  <!--Header End-->
</div>
<!--Full width header End-->