<html>
    <head>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0"/>
        <!-- <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0"/> -->

        <!-- <script type="application/javascript" src="https://securegw-stage.paytm.in/merchantpgpui/checkoutjs/merchants/BSEIns62317292671135.js" onload="onScriptLoad();" crossorigin="anonymous"></script> -->
        <script>
        function onScriptLoad(){
        var config = {
        "root": "",
        "flow": "DEFAULT",
        "data": {
        "orderId": "{{data['body']['orderId']}}", /* update order id */
        "token": "{{presponse['body']['txnToken']}}", /* update token value */
        "tokenType": "TXN_TOKEN",
        "amount": "{{data['body']['txnAmount']['value']}}" /* update amount */
        },
        "handler": {
        "notifyMerchant": function(eventName,data){
        console.log("notifyMerchant handler function called");
        console.log("eventName => ",eventName);
        console.log("data => ",data);
        }
        }
        };
        if(window.Paytm && window.Paytm.CheckoutJS){
        window.Paytm.CheckoutJS.onLoad(function excecuteAfterCompleteLoad() {
        // initialze configuration using init method
        window.Paytm.CheckoutJS.init(config).then(function onSuccess() {
        // after successfully updating configuration, invoke JS Checkout
        window.Paytm.CheckoutJS.invoke();
        }).catch(function onError(error){
        console.log("error => ",error);
        });
        });
        }
        }
        </script>
    </head>
<body>
    <form>
        {{presponse}}<br><br>
    {{data}}<br>
    {{course_name_id}}
    <br>
    <br>
    {{user_id}}
        <!-- onScriptLoad() -->
    </form>
    <script type="application/javascript" src="https://securegw-stage.paytm.in/merchantpgpui/checkoutjs/merchants/BSEIns62317292671135.js" onload="onScriptLoad();" crossorigin="anonymous"></script>
    <!-- <script type="text/javascript">
        onScriptLoad();
      </script> -->
</body>
    
</html>

