<html>
    <head>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0"/>
        <!-- <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0"/> -->
    </head>
    <form action="{{ PAYTM_BASE_URL }}" method="post">
        {% for key, value in data.items() %}
            <!-- <input type="hidden" name="{{ key }}" value="{{ value }}"> -->
            <input type="text" name="{{ key }}" value="{{ value }}">
        {% endfor %}
        <input type="text" name="CHECKSUMHASH" value="{{ checksumpay }}">
        
        <button type="submit">Pay Now</button>
    </form>
</html>

